apiVersion: kubebrowser.io/v1
kind: Kubeconfig
metadata:
  name: example-kubeconfig2
spec:
  name: "You are in my users"
  kubeconfig:
    apiVersion: v1
    kind: Config
    clusters:
      - name: example-cluster2
        cluster:
          server: https://example-cluster.example.com
          certificate-authority-data: "base64-encoded-ca-cert"
    contexts:
      - name: example-context
        context:
          cluster: example-cluster
          user: example-user
    current-context: example-context
  whitelist:
    users:
      - user1@example.com
      - user2@example.com
      - yann.lacroix@advans-group.com
    groups:
      - admins
      - developers
