apiVersion: kubebrowser.io/v1alpha1
kind: Kubeconfig
metadata:
  name: example-kubeconfig3
spec:
  name: "Your are in my groups"
  kubeconfig:
    apiVersion: v1
    kind: Config
    clusters:
      - name: example-cluster3
        cluster:
          server: https://example-cluster.example.com
          certificate-authority-data: "base64-encoded-ca-cert"
    contexts:
      - name: example-context
        context:
          cluster: example-cluster
          user: example-user
    current-context: example-context
  whitelist:
    users:
      - user1@example.com
      - user2@example.com
    groups:
      - admins
      - developers
      - 5091ba02-577b-4aaa-b579-97e54a8447c6
