apiVersion: kubebrowser.io/v1alpha1
kind: Kubeconfig
metadata:
  name: example-kubeconfig0
spec:
  name: "You are not in my groups"
  kubeconfig:
    apiVersion: v1
    kind: Config
    clusters:
      - name: example-cluster0
        cluster:
          server: https://example-cluster.example.com
          certificate-authority-data: "base64-encoded-ca-cert"
    contexts:
      - name: example-context
        context:
          cluster: example-cluster
          user: example-user
    current-context: example-context
  whitelist:
    groups:
      - admins
      - developers
