@import 'tailwindcss';

@font-face {
  font-family: 'Maven Pro';
  src: url('@/assets/fonts/MavenPro.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('@/assets/fonts/Outfit.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-display: 'Outfit', 'sans-serif';
  --font-logo: 'Maven Pro', 'Outfit', 'sans-serif';

  --color-primary-900: #192454;
  --color-primary-950: #020930;
  --color-accent: #ffad0e;
  --color-gray-800: #1c224d;
  --color-gray-700: #333a66;
  --color-gray-600: #4d557d;
  --color-gray-300: #abb1c2;
}
