@import 'tailwindcss';

@theme {
  --font-display: 'Outfit', 'sans-serif';
  --font-logo: 'Maven Pro', 'Outfit', 'sans-serif';

  --color-primary-900: #192454;
  --color-primary-950: #020930;
  --color-accent: #ffad0e;
  --color-gray-800: #1c224d;
  --color-gray-700: #333a66;
  --color-gray-600: #4d557d;
  --color-gray-300: #abb1c2;
}
