@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: hsl(200, 80%, 40%);
  transition: background-color 0.3s;
}

a:hover {
  background-color: hsl(200, 80%, 90%);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
